<app-addemployee></app-addemployee>


<div class="card-container container m-3">
  <h3> {{errorMessage}} </h3>
  <mat-card class="example-card m-3 alert alert-primary" *ngFor="let emp of employeeList">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <p><b>Employee Name: {{emp.name}} </b></p>
    <p> Email: {{emp.email}} </p>
    <mat-card-content>
      <button class="btn btn-success"><a routerLink="/update" [queryParams]="{id:emp.id}">Update</a></button>
      <button class="btn btn-success m-1" (click)="deleteRecord(emp.id)">Delete</button>
    </mat-card-content>
  </mat-card>
</div>