/* .card-container{
    width: 20vw;
} */

.card-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.forms-container{
    display: flex;
    flex-direction: column;
}
.dashboard-container {
    width: 40vw;
    margin: 5vh auto;
}