<div class="sign-form-container">
<h3 class="text-center m-3">SignUp Form</h3>

<form #signup="ngForm" (ngSubmit)="signupData(signup)">
    <div class="form-group">
 <label for="inputemail">Email Address: </label>
 <input type="email" class="form-control" id="inputemail"
  [(ngModel)]="user.email" name="email" #email="ngModel" required minlength="8"/>
  <small *ngIf="email.dirty && email.errors?.['required']">Email Required</small>
  <small *ngIf="email.dirty && email.errors?.['minlength']">Email min length must be 8</small>
</div>
<div class="form-group m-3">
  <label for="inputpassword">Password: </label>
  <input type="password" class="form-control" id="inputpassword"
   [(ngModel)]="user.password" name="password" #password="ngModel" required minlength="6"/>
   <small *ngIf="password.dirty && password.errors?.['required']">Password Required</small>
   <small *ngIf="password.dirty && password.errors?.['required']">Password min length must be 6</small>
</div>
<div class="form-group m-3">
   <label for="formcontrolselect"> Select Course </label>
   <select class="form-control" name="selectedCourse" 
   [(ngModel)]="user.selectCourses"
   #selectedCourse="ngModel" required="">
        <option *ngFor="let item of courseList">
            {{item}}
        </option>
  </select>
  <small class="m-5" *ngIf="selectedCourse.dirty && selectedCourse.errors?.['required']">you must select one course</small>
</div>
<div class="form-group m-3">
  <input type="checkbox" class="form-check-input" id="exampleCheck1" name="ischecked" [(ngModel)]="user.isChecked"
  #ischecked="ngModel" required>
  <label class="form-check-label" for="exampleCheck1">I accept terms and Condition</label>
  <small *ngIf="ischecked.dirty && ischecked.errors">you must accept the terms and condition</small>
</div>  
  <button type="submit" class="btn btn-primary" [disabled]="signup.invalid">Submit</button>

</form>
</div>
