<div class="dashboard-container">
    <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add New Employee
        </mat-panel-title>
      </mat-expansion-panel-header>
     <div class="forms-container">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Employee Name</mat-label>
        <input matInput placeholder="name" [(ngModel)]="employee.name" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" [(ngModel)]="employee.email">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="saveEmployee()">Save</button>
     </div>
      </mat-expansion-panel>
      </mat-accordion>
    </div>