<!-- <app-header></app-header> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login> -->

<app-menu></app-menu>
<!-- 
<li class="nav-item">
   <a class="nav-link" [routerLink]="['lazy-loading']">Lazy Loading</a>
</li> -->

