<div class="login-form-container container m-3">
<h3 class="alert alert-success text-center">Login Form</h3>
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="validateUser(loginForm)">
    <mat-form-field appearance="fill">
        <mat-label>Enter the Email</mat-label>
        <input matInput  formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')" >
            Email Required</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('minlength')">
            Length must be min 4 character</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter the Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
            Password Required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">
            Length must be min 5 character</mat-error>
      </mat-form-field>
      
      <button mat-raised-button color="warn" [disabled]="loginForm.invalid">
        Login</button>
</form>
</div>
