<div class="container">
    <div class="form-group">
        <label for="empid">Emp ID</label>
        <input type="text" class="form-control" [(ngModel)]="employee.id" id="empid" readonly>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="employee.name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" [(ngModel)]="employee.email" class="form-control" id="email">
    </div>
  
    <button type="submit" class="btn btn-primary m-2" (click)="updateData(employee)">update</button>

</div>